<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SuggestGame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <link rel="icon" href="https://raw.githubusercontent.com/GabrielGomezDlc/FakeAPI/main/logito.ico" type="image/x-icon">
</head>
<body>

<div class="titulo">
    <h1>Suggest<br>Game</h1>
</div>

<div class="description">
    <h2>Es una aplicación que, utiliza<br> grafos y aplica el algoritmo de<br> Prim,  realiza recomendaciones de<br> videojuegos relacionados y con<br> filtrado de plataforma para un<br> resultado más personalizado. </h2>
</div>


<div class="botones" style="gap-column:30px">
    <div>
        <button onclick="window.open('specificSearch', '_blank')" type="button" class="cls">Búsqueda Específica</button>
        </div>
    <div><button onclick="window.open('search', '_blank')"  type="button" class="cls">Búsqueda General</button> </div>
</div>



</body>
</html>
