<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SuggestGame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <link rel="icon" href="https://raw.githubusercontent.com/GabrielGomezDlc/FakeAPI/main/logito.ico" type="image/x-icon">

</head>
<body>

<div class="imagen">
    <img src="https://raw.githubusercontent.com/GabrielGomezDlc/FakeAPI/main/hero.jpg">
</div>


<form class="spec-search" action="/specificSearch" method="POST" onkeydown="return (event.key !== 'Enter');">
    <div class="input">
        <h1>Ingrese su videojuego </h1>
        <input type="text" class="rounded-input" name="searchedGame" placeholder="{{searched_game}}" onchange="toggleInputValue(this.value)" list="options" required>
    </div>

    <div class="input">
        <h1>Plataforma </h1>
        <input type="text" class="rounded-input3" name="searchedPlatform" placeholder="{{searched_platform}}" onchange="toggleInputValue(this.value)" list="options2" required>
    </div>

    <div class="input">
        <h1>Cantidad</h1>
        <input type="text" id="myInput" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(parseInt(this.value) > 50) this.value = 50;"
               class="rounded-input2" name="inputValue" placeholder="{{input_value}}"  disabled>
    </div>
</form>

<div style="display: flex">
    <h1 class="recomendations">Recomendaciones</h1>

    <div style="padding-left: 850px;">
        {% if graph_image %}
        <button onclick="mostrarPopup()" class="boton">Mostrar Grafo Resultante</button>
        {% endif %}
    </div>


</div>

<div class="centradito">
    <div class="recomendations-table">

        {% set counter = [1] %}
        {% for videogame in videogames %}
        {% if counter|last <= input_value %}

        {% if counter|last % 4 ==0 %}

        <div id="verdecito" class="card" data-content="#{{ counter|last }}">
            <div class="cuerpo">
                <h2 style="text-align: center; margin-top: 0;">{{videogame.name}}</h2>
                <p style="margin: 0;">Platform: {{videogame.platform}}</p>
                <p style="margin: 0;">Year: {{videogame.year}}</p>
                <p style="margin: 0;">Genre: {{videogame.genre}}</p>

                <p style="margin: 0;">{{videogame.publisher}}</p>
            </div>
        </div>

        {% endif %}

        {% if counter|last % 4 ==1 %}

        <div id="celestito" class="card" data-content="#{{ counter|last }}">
            <div class="cuerpo">
                <h2 style="text-align: center; margin-top: 0;">{{videogame.name}}</h2>
                <p style="margin-bottom: 2px;">Platform: {{videogame.platform}}</p>
                <p style="margin-bottom: 2px;">Year: {{videogame.year}}</p>
                <p style="margin: 0;">Genre: {{videogame.genre}}</p>

                <p style="margin: 0;">{{videogame.publisher}}</p>
            </div>
        </div>

        {% endif %}

        {% if counter|last % 4 ==2 %}

        <div id="naranjita" class="card" data-content="#{{ counter|last }}">
            <div class="cuerpo">
                <h2 style="text-align: center; margin-top: 0;">{{videogame.name}}</h2>
                <p style="margin: 0;">Platform: {{videogame.platform}}</p>
                <p style="margin: 0;">Year: {{videogame.year}}</p>
                <p style="margin: 0;">Genre: {{videogame.genre}}</p>

                <p style="margin: 0;">{{videogame.publisher}}</p>
            </div>
        </div>

        {% endif %}

        {% if counter|last % 4 ==3 %}

        <div id="amarillito" class="card" data-content="#{{ counter|last }}">
            <div class="cuerpo">
                <h2 style="text-align: center; margin-top: 0;">{{videogame.name}}</h2>
                <p style="margin: 0;">Platform: {{videogame.platform}}</p>
                <p style="margin: 0;">Year: {{videogame.year}}</p>
                <p style="margin: 0;">Genre: {{videogame.genre}}</p>
                <p style="margin: 0;">{{videogame.publisher}}</p>
            </div>
        </div>

        {% endif %}

        {% set _ = counter.append(counter|last + 1) %}

        {% endif %}
        {% endfor %}

        <datalist id="options">
            {% for videogame in total_games %}
            <option value="{{videogame.name}}">
                {% endfor %}
        </datalist>

        <datalist id="options2">
            {% for platform in total_platforms %}
            <option value="{{platform}}">
            {% endfor %}
        </datalist>

    </div>
</div>




{% if graph_image %}
<div id="miPopup" class="popup">
    <div class="popup-contenido">
        <h2>Grafo Resultante de Recomendaciones</h2>
        <div class="contenido-columnas">
            <div class="columna-imagen">
                <img src="data:image/png;base64,{{ graph_image }}" alt="Graph Image">
            </div>
            <div class="columna-leyenda" style="background-color: #8b78a5; border-radius: 10px;">
                <h3 style="padding-left: 10px; color: white">Videojuegos</h3>
                {% set counter = [1] %}
                <div class="scrollable">
                    <p style=" color: white">{{videogameToList.id}} - {{videogameToList.name}}</p>
                    {% for videogame in videogames %}
                    {% if counter|last <= input_value %}
                    <p style=" color: white">{{videogame.id}} - {{videogame.name}}</p>
                    {% set _ = counter.append(counter|last + 1) %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <button onclick="cerrarPopup()">Cerrar</button>
    </div>
</div>
{% endif %}




<script>


    document.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.querySelector('.spec-search').submit();

        }
    });


    function toggleInputValue(value) {
        const inputValue = document.querySelector('.rounded-input2');
        inputValue.disabled = value === '';
    }



</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- NetworkX.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/networkx.js/1.0.0/networkx.min.js"></script>

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@networkx/graphlib@0.4.1/dist/graphlib.min.js"></script>



<script src="{{ url_for('static', filename='js/scripts.js' ) }}"> </script>
</body>





</html>
